<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /SLEDIMedO/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /SLEDIMedO/index.php [L]
</IfModule>