<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /~sledimedo/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /~sledimedo/index.php [L]
</IfModule>